<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- eventually a header -->

    <main><%- body %></main>

    <!-- eventually a footer -->
  </body>
</html>
